body {
    background-color: #ECF39E;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    padding: 3%;
}
h1 {
    color: #132A13;
    font-size: 44px;
}
h2 {
    color: #31572C;
    font-size: 22px;
}
h3 {
    color: #4F772D;
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
p {
    text-align: justify;
    font-size: 16px;
}
.destaque {
    color: #90A955;
}
.lista-t1 {
    font-size: 18px;
}
.lista-t2 {
    font-size: 16px;
}
.lista-t3 {
    font-size: 14px;
}
.botao1 {
    background-color: #132A13;
    border-radius: 8px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #90A955;
}
.botao2 {
    background-color: #132A13;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    color: #90A955;
}
#nome {
    text-align: center;
}
.img-container {
    height: 200px;
    position: relative;
}
#foto {
    float: left;
    height: 180px;
    padding: 10px;
    background-color: #132A13;
}
#descricao {
    font-family: monospace;
    position: absolute;
    top: 36%;
    right: 8%;
}
ul li:nth-child(odd) {
    font-style: italic;
}